@import '../variables.scss';

footer {
    background: #fff;
    background: rgba(#fff, 0.5);
    font-size: 15px;
    height: auto;
        min-height: 10vh;
    padding: 20px 10px 10px;
    position: absolute;
        bottom: 0;
    text-align: right;
    width: 100vw;
    z-index: 5;

    > div {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    nav {
        &.social {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            min-width: 200px;
    
            i {
                font-size: 2em;
            }
        }
    }
}

@media screen and (min-width: 31rem) {
    footer {
        > div {
            flex-direction: row;
            justify-content: space-around;
            margin-top: 0.5em;
        }
    }
}

@media screen and (min-width: 48rem) {
    footer {
        font-size: 1em;
        padding: 5vh 0;

        > div {
            justify-content: space-between;
        }
    
        nav {
            flex-direction: row;
            width: 50%;

            &.social {  
                .social-link {
                    color: $blue_light_50;
                    color: rgba($blue, 0.5);

                    svg {
                        height: 5vh;
                        max-height: 40px;
                        width: auto;
                    }

                    &:active, &:hover, &:focus {
                        color: $blue;
                    }
                }
            }
        }


    }
}