@import '../../variables.scss';

header {
    --padding: #{$padding_mobile};

    flex-direction: column;
    display: flex;
        align-items: center;
        justify-content: space-between;
    padding: var(--padding);
    position: relative;

    .background {
        overflow: hidden;
        position: absolute;
            top: 0;
            bottom: 0;
            left: calc(-1 * var(--padding));
        z-index: -1;

        &:before {
            background: $neutral;
            content: '';
            opacity: 0.8;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        img {
            height: auto;
                max-height: unset;
            width: auto;
                min-width: calc(100vw + var(--padding));
                max-width: none;
        }
    }
}

.site-logo {
    display: block;
    flex-shrink: 0;
    width: 50vw;

    &:active, &:hover, &:focus {
        background: none;
    }

    svg {
        max-width: 100%;

        g {
            &.neutral {
                fill: #fff;
            }

            &.primary {
                fill: $primary;
            }
        }
    }
}

.hero {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-align: right;

    blockquote {
        margin: 0;
    }

    .full {
        display: none;
    }
}

@media (min-width: 30em) {
    header {
        flex-direction: row;
    }

    .site-logo {
        width: 30vw;
    }
}

@media (min-width: 50em) {
    header {
        --padding: #{$padding_desktop};

        height: 40vh;
    }

    .hero {
        font-size: 1.5em;

        .full {
            display: block;
        }

        .short {
            display: none;
        }
    }
}

@media (min-width: 70em) {
    header {
        flex-direction: row;
        height: 40vh;
    }

    .site-logo {
        width: 20vw;
    }

    .hero {
        font-size: 2em;
    }
}