//Fonts
$font_light: 200 1em 'Aileron', Arial, sans-serif;
$font_regular: 400 1em 'Aileron', Arial, sans-serif;
$font_bold: 700 1em 'Aileron', Arial, sans-serif;
$font_headings: 700 1.5em 'Aileron', Arial, sans-serif;

//Colours
$primary: #b21e6f;
$primary_light_10: #f7e9f1;
$primary_light_25: #ecc7db;
$primary_light_50: #d98fb7;
$primary_light_75: #c55693;
$primary_light_90: #ba347d;
$primary_dark_10: #12030b;
$primary_dark_25: #2d081c;
$primary_dark_50: #590f38;
$primary_dark_75: #861753;
$primary_dark_90: #a01b64;

$secondary: #1eb261;
$secondary_light_10: #e9f7ef;
$secondary_light_25: #c7ecd8;
$secondary_light_50: #8fd9b0;
$secondary_light_75: #56c589;
$secondary_light_90: #34ba71;
$secondary_dark_10: #03120a;
$secondary_dark_25: #082d18;
$secondary_dark_50: #0f5931;
$secondary_dark_75: #178649;
$secondary_dark_90: #1ba057;

$neutral: #000000;
$neutral_light_10: #e6e6e6;
$neutral_light_25: #bfbfbf;
$neutral_light_50: #808080;
$neutral_light_75: #404040;
$neutral_light_90: #191919;

//Values
$padding_desktop: 20px;