@import './variables.scss';

p {
    font-size: 18px;
    line-height: 1.4;
    margin: 10px auto;
    max-width: 1200px;
}

blockquote {
    border: 4px solid $primary;
    font: $font_headings;
    font-size: 24px;
    margin: 30px 20px;
    padding: 20px;
    position: relative;

    &:before {
        $offset: 5px;

        background: $primary_light_10;
        content: '';
        position: absolute;
            top: $offset;
            right: -2 * $offset;
            bottom: -2 * $offset;
            left: $offset;
        z-index: -1;
    }
}