@import './variables.scss';

footer {
    display: flex;
    align-items: center;
        justify-content: space-between;
    font-size: 1.2em;
    padding: $padding_desktop;
}

nav {
    display: flex;
        justify-content: space-between;
    min-width: 120px;

    a {
        display: block;
    }

    svg {
        height: 2.5em;
        width: 2.5em;
    }
}

.aimhigher {
    --colour1: #{$primary};
    --colour2: #{$primary_light_75};

    svg {
        height: 50px;
        width: auto;        

        .cls-1 {
            fill: var(--colour1);
        }

        .cls-2 {
            fill: var(--colour2);
        }
    }

    &:active, &:hover, &:focus {
        --colour1: #1c75bc;
        --colour2: #16a6b1;
    }
}