@import './variables.scss';

footer {
    display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    font-size: 1.2em;
    padding: $padding_desktop;
}

nav {
    display: flex;
        justify-content: space-between;
    min-width: 230px;

    a {
        display: block;
    }

    svg {
        height: 2.5em;
        width: 2.5em;
    }

    &.social {
        margin-top: 10px;
        min-width: 120px;
    }
}

.aimhigher {
    --colour1: #{$primary};
    --colour2: #{$primary_light_75};

    svg {
        height: 50px;
        width: auto;        

        .cls-1 {
            fill: var(--colour1);
        }

        .cls-2 {
            fill: var(--colour2);
        }
    }

    &:active, &:hover, &:focus {
        --colour1: #1c75bc;
        --colour2: #16a6b1;
    }
}

@media (min-width: 480px) {
    footer {
        justify-content: space-between;
    }

    nav {
        &.social {
            margin-top: 0;
        }
    }
}

@media (min-width: 40em) {
    footer {
        flex-wrap: nowrap;
    }
}