@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    --links: #{$primary_dark_90};
    
    color: $neutral_light_90;
    font: $font_regular;
    font-size: 14px;
    min-height: 100vh;
    line-height: 1.2;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    max-width:100vw;
}

a {
    color: var(--links);

    &:active, &:hover, &:focus {
        --links: #{$secondary};

        background: $primary_light_10;
    }
}

img, svg {
    max-height: 100%;
    max-width: 100%;
}

svg {
    border: 2px solid transparent;
    color: $primary;
    max-height: 100%;
    padding: 5px;
    max-width: 100%;

    &:active, &:hover, &:focus {
        border: 2px solid $primary_light_50;
        color: $secondary;
    }

    &.logo {
        g {
            &.neutral {
                fill: #fff;
            }
    
            &.primary {
                fill: $primary;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Aileron-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Aileron-UltraLightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Aileron-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/Aileron-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Aileron-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Aileron-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Aileron-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/Aileron-SemiBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Aileron-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Aileron-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/Aileron-BlackItalic.otf') format('opentype');
}