//Fonts
$font_light: 300 1em Arial, sans-serif;
$font_regular: 400 1em Arial, sans-serif;
$font_bold: 700 1em Arial, sans-serif;
$font_headings: 700 1.5em Arial, sans-serif;

//Colours
$blue: #1c75bc;
  $blue_light_90: #3283c3;
  $blue_light_75: #5598cd;
  $blue_light_50: #8dbadd;
  $blue_light_25: #c6dcee;
  $blue_light_10: #e8f1f8;

  $blue_dark_90: #196aaa;
  $blue_dark_75: #15588d;
  $blue_dark_50: #0e3b5e;
  $blue_dark_25: #071d2f;
  $blue_dark_10: #030c13;

$aqua: #16a6b1;
  $aqua_light_90: #2dafb9;
  $aqua_light_75: #50bcc5;
  $aqua_light_50: #8ad2d8;
  $aqua_light_25: #c5e9eb;
  $aqua_light_10: #e7f6f7;

  $aqua_dark_90: #1496a0;
  $aqua_dark_75: #107c85;
  $aqua_dark_50: #0b5359;
  $aqua_dark_25: #062a2c;
  $aqua_dark_10: #021112;

$grey: #5b5b5b;
$grey_light_90: #6b6b6b;
$grey_light_75: #848484;
$grey_light_50: #adadad;
$grey_light_25: #d6d6d6;
$grey_light_10: #eeeeee;

$grey_dark_90: #525252;
$grey_dark_75: #444444;
$grey_dark_50: #2e2e2e;
$grey_dark_25: #171717;
$grey_dark_10: #090909;